@model SweetStore.Models.Flavor

<div class="content">
    <div class="details">
        <h2>Details</h2>
        <h3>Name: @Model.Name</h3>
        <hr />
        @if (Model.TreatFlavors == null || !Model.TreatFlavors.Any())
        {
            <p>This flavor is not associated with any treats.</p>
        }
        else
        {
            <h4>Treats with this flavor:</h4>
            <ul>
                @foreach (var treatFlavor in Model.TreatFlavors)
                {
                    <li>@treatFlavor.Treat.Name</li>
                }
            </ul>
        }
        <br />
        @Html.ActionLink("Assign a treat to this flavor", "AddTreat", new { id = Model.FlavorId }, new { @class = "btn btn-green" }) |
        @Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId }, new { @class = "btn btn-yellow" }) |
        @Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId }, new { @class = "btn btn-red" }) |
        @Html.ActionLink("Back To List", "Index", "Flavors", null, new { @class = "btn btn-blue" })
    </div>
</div>